<%- include("partials/header") -%>
<h1>Contact</h1>
<i class="fas fa-solid fa-phone ">   8384854844</i>
<br>
<i class=" fas fa-solid fa-envelope"> hgarg152000@gmail.com</i>


<%- include("partials/footer") -%>
